
<div>
    <ul class="timeline">
			<li>
				<div class="timeline-badge"><i class="glyphicon glyphicon-check"><br></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h2 class="timeline-title">2018 : Robot Cities</h2>
					</div>
					<div class="timeline-body">
						<p>Deuxième de la pré-coupe du Mans organisée par l'ENSIM-ELEC</p>
						<p>Nous terminons 50 ème  de la coupe de France.</p>
					</div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-badge warning"><i class="glyphicon glyphicon-check"><br></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h2 class="timeline-title">2017 : Moon village</h2>
					</div>
					<div class="timeline-body">
						<p>1er de la coupe de robotique de Bretagne (ENSSAT, Lanion)</p>
						<p>Nous terminons 5 ème ex aequo de la coupe de France!!!</p>
					</div>
				</div>
			</li>
			<li>
				<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h2 class="timeline-title">2016 : The beachbot</h2>
					</div>
					<div class="timeline-body">
						<p>Reprise difficile après plus de 3 ans de coupure. Nous passons les homologations avant le premier match, ce qui nous permet de finir 73 èmes sur 150 équipes homologuées
					</p></div>
				</div>
			</li>
			<li class="timeline-inverted">
				<div class="timeline-badge warning"><i class="glyphicon glyphicon-check"></i></div>
				<div class="timeline-panel">
					<div class="timeline-heading">
						<h2 class="timeline-title">2012 : Treasure Island</h2>
					</div>
					<div class="timeline-body">
						<p>Mars 2012 : 1er ex aequo de la coupe du Trégor (ENSSAT, Lanion)</p>
						<p>Mai 2012 : Nous terminons 5ème de la coupe de France!!!</p>
					</div>
				</div>
			</li>
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h2 class="timeline-title">2011 : Chess Up!</h2>
            </div>
            <div class="timeline-body">
              <p>Résultats plutôt concluants pour cette année puisque nous avons réussi à terminer 63ème sur 139 robots homologués, et sur un total de 180 équipes inscrites! Résultats d'autant plus concluants que nous n'avons pu jouer que deux matches sur cinq, suite à un problème avec la carte I.A.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h2 class="timeline-title">2010 : Feed The World</h2>
            </div>
            <div class="timeline-body">
              <p>Avec 450 points, nous avons finis 74ème sur 121 équipes homologuées et 148 équipes inscrites.</p>
							<p>Cette année pour la première fois notre club a accueilli l'évènement des <a href="http://clubrobotique.free.fr/?page=trophees">Trophées de la Robotique</a> le 20 mars 2010 sur le campus de l'INSA de Rennes.
							<br></p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h2 class="timeline-title">2009 : Les temples d'Atlantis</h2>
            </div>
            <div class="timeline-body">
              <p>Notre équipe est homologuée suffisamment tôt pour participer dès les premiers matchs de qualifications. Le club finit 94e&nbsp;sur 185 équipes inscrites dont un peu plus de 120 équipes homologuées.</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
					<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h2 class="timeline-title">2008 : Mission to Mars</h2>
            </div>
            <div class="timeline-body">
              <p>Nous ne tentons même pas l'homologation : le robot part de travers inexorablement ! Cela dit, c'est un résultat prometteur...</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h2 class="timeline-title">2007 : Robot tri party</h2>
            </div>
            <div class="timeline-body">
              <p>La carte moteur grille. Nous sommes seulement pré-homologués.</p>
            </div>
          </div>
        </li>
				<li class="timeline-inverted">
					<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h2 class="timeline-title">2006 : Funny golf</h2>
            </div>
            <div class="timeline-body">
              <p>Bilan malheureux : l'équipe trop ambitieuse ne parvient pas à réaliser un robot et abandonne le club. Le savoir-faire est perdu et il faudra reconstruire le club comme à ses débuts.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h2 class="timeline-title">2005 : Le bowling</h2>
            </div>
            <div class="timeline-body">
              <p>L'équipe gagne le prix de la créativité et s'impose à la 61ème place sur presque 200 équipes.</p>
            </div>
          </div>
        </li>
				<li class="timeline-inverted">
					<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h2 class="timeline-title">2004 : Coconut Rugby</h2>
            </div>
            <div class="timeline-body">
              <p>Nous n'avons pas trouvé bilan précis. Cependant certains documents laissent à penser à un classement entre 90 et 60.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h2 class="timeline-title">2003 : Le pile ou Face</h2>
            </div>
            <div class="timeline-body">
              <p>L'équipe finit 87ème sur 144&nbsp;équipes homologuées.</p>
            </div>
          </div>
        </li>
				<li class="timeline-inverted">
					<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h2 class="timeline-title">2002 : Le billard aérien</h2>
            </div>
            <div class="timeline-body">
              <p>La motivation était là encore au rendez-vous, et nous étions bien décidés à faire de notre mieux... mais faute de budget, nous n'avons pas pu régler tous les problèmes à temps et n'avons pas réussi à être homologués.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h2 class="timeline-title">2001 : L'odyssée de l'espace</h2>
            </div>
            <div class="timeline-body">
              <p>HOMOLOGUÉS !! Après quelques nuits blanches à bosser à fond sur le robot, nous avons tout de même réussi à terminer 64eme !! [sur 160]</p>
            </div>
          </div>
        </li>
				<li class="timeline-inverted">
					<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h2 class="timeline-title">2000 : La fête foraine</h2>
            </div>
            <div class="timeline-body">
              <p>Temps mort puisque l'équipe n'a pas participé à la coupe mais en a profité pour avancer sur des fonctions et capteurs pour la coupe 2001.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h2 class="timeline-title">1999 : Les châteaux-forts</h2>
            </div>
            <div class="timeline-body">
              <p>Alors qu'une nouvelle échéance approche, la solide équipe, avec quelques briscards en moins et pas mal de jeunes têtes blondes, s'est reformée. Tout à la fois conquérante et inventive, elle s'est fixée un super objectif : passer les homologations</p>
            </div>
          </div>
        </li>
				<li class="timeline-inverted">
					<div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h2 class="timeline-title">1998 : Le football</h2>
            </div>
            <div class="timeline-body">
              <p>Date de notre première participation et du premier concours de robotique de Planète-Sciences. Nos gars sont parvenus jusqu'à la Ferté où malheureusement, pour une carte grillée, le robot n'a pu franchir les homologations.</p>
            </div>
          </div>
        </li>



    </ul>
</div>
